@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{margin:0; padding:0;}
/*----------------------------------------------------Top Bar----------------------------------------------------* /
.top-bar{width:100%; float:left; padding:10px 0; background:#a4c334; display:none;}
.top-bar .container-fluid{padding:0 40px;}
.mail-link{text-align:right; font-family: 'Source Sans Pro', sans-serif;}
.mail-link ul{margin:0; padding:0;}
.mail-link ul li{list-style:none; display:inline-block; padding:0 10px; color:#fff; font-size:16px;}
.mail-link ul li a{color:#fff; }
.mail-link ul li i{padding-right:5px;}
.mail-right{text-align:left;}
/*----------------------------------------------------Top Bar----------------------------------------------------*/
/*----------------------------------------------------Banner----------------------------------------------------* /
.banner{width:100%; float:left; }
.banner-overlay{width:100%; float:left; background:rgba(0, 0, 0, 0.1); height:350px;}
/*----------------------------------------------------Banner----------------------------------------------------*/
/*----------------------------------------------------Main Header----------------------------------------------------* /
.main-header{width:100%; float:left; border-bottom:0 solid #ddd; padding:15px 0; background: -moz-linear-gradient(top, #6e6e6d 0%, #0f0f0f 100%) !important;
    background: -webkit-linear-gradient(top, #6e6e6d 0%,#0f0f0f 100%) !important;
    background: linear-gradient(to bottom, #6e6e6d 0%,#0f0f0f 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6d', endColorstr='#0f0f0f',GradientType=0 ) !important;}
.logo h3{margin:0px 0 5px 0; font-size:26px; font-weight:bold; line-height:25px; color:#e03912;}
.logo h3 a{color:#e03912; text-shadow:0 2px 3px rgba(0, 0, 0, 0.3);}
.logo p{text-align:center; margin:10px 0 0 0; color:#a4c334; font-size:18px; position:relative;}
.logo p::before{position:absolute; content:""; background:#a4c334; width:100px; height:2px; border-radius:50%; top:13px; left:50px;}
.logo p::after{position:absolute; content:""; background:#a4c334; width:100px; height:2px; border-radius:50%; top:13px; right:50px;}
.logo p a:hover, .logo p a:focus{color:#a4c334;}
.logo img{max-width:50%;}
.main-header .nav.navbar-nav{margin:5px 0 0 15px;}
.main-header .navbar-nav > li > a{position:relative;}
.main-header .navbar-nav > li > a::before{content: ""; position: absolute; z-index: -1; left: 50%; right: 50%; bottom: 0; background:#fff; height:2px; -webkit-transition-property: left, right; transition-property: left, right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.main-header .navbar-nav > li > a:hover::before{right:0; left:0;}
.main-header .navbar-nav > li > a::after{content: ""; position: absolute; top:0; z-index: -1; left: 50%; right: 50%; bottom: 0; background:#fff; height:2px; -webkit-transition-property: left, right; transition-property: left, right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.main-header .navbar-nav > li > a:hover::after{right:0; left:0;}
.fixed{position: fixed; top:0; left:0; width: 100%; background:#32b4d8; z-index:9999;}
.css-menu{margin-top:28px;}
/*----------------------------------------------------Main Header----------------------------------------------------*/
/*----------------------------------------------------Home About----------------------------------------------------*/
.home-about{width:100%; float:left; padding:20px 0;}
.home-about h3{text-align:center; margin-bottom:5px; position:relative;}
.home-about h3::before{position:absolute; content:""; top:55px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.home-about p{text-align:center;}
.about p{line-height:30px; text-align:justify; color:#333; margin:20px auto; width:80%;}
.read-more{text-align:right; margin:10px 0; }
.read-more a{background:#228dcb; color:#fff; border:2px solid #228dcb; padding:5px 10px; font-size:13px; transition:all 0.5s ease;}
.read-more a:hover{background:#fff; color:#228dcb; transition:all 0.5s ease;}
.terms{width:100%; float:left; padding:50px 0;}
.terms h3{text-align:center; margin-bottom:30px; position:relative;}
.terms h3::before{position:absolute; content:""; top:45px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.terms h2{width:80%; margin:20px auto; font-size:25px; color:#e03912;}
.terms p{font-size:15px; line-height:28px; width:80%; margin:0 auto; text-align:justify; margin-bottom:10px;}
.terms ul{list-style:circle; line-height:28px; width:80%; margin:10px 130px; font-size:15px;}
.web-inner-top{margin:3em 0 0 0;}
.abt-img img{width:220px; transition:all 0.5s ease; border:3px solid #fff; padding:5px; border-radius:5px;}
.web-inner-top:hover .abt-img img{transform:rotate(180deg); transition:all 0.5s ease; border-radius:50%;}
.about-us p{line-height:30px; text-align:justify; color:#333; margin:20px auto;}
.about-us h4{font-weight:bold; color:#228dcb;}
.grey-bg{background:#f4f4f4;}
.about-us ul{margin:0; padding:0;}
.about-us ul li{list-style:circle; line-height:30px; margin-left:20px; margin-bottom:10px;}
.about-img{text-align:center;}
.about-img img{margin:20px 0;}
/*----------------------------------------------------Home About----------------------------------------------------*/
/*----------------------------------------------------Welcome----------------------------------------------------*/
.welcome{width:100%; float:left; text-align:center; background:#141414; padding:10px 0; }
.welcome p{background:#32b4d8; color:#fff; font-size:20px; line-height:25px; padding:5px 0; margin:10px 40px; border-radius:50px;}
/*----------------------------------------------------Welcome----------------------------------------------------*/
/*----------------------------------------------------Products Category----------------------------------------------------*/
.products-category{width:100%; float:left; background:#f8f3f7; padding:30px 0;}
.products-category .item{background:#fff; text-align:center; border:1px solid #ddd; padding:20px; position:relative; transition:all 1s ease;}
.products-category h2{text-align:center; margin-bottom:30px; position:relative;}
.products-category h2::before{position:absolute; content:""; top:45px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.products-category h3{text-align:center;}
.products-category .common-item {margin: 10px 0;}
.products-category .btn-group{background:rgba(35, 174, 244, 0.8); width:100%; position:absolute; bottom:-20px; left:0; visibility:hidden; transition:all 1s ease;}
.products-category .btn-group ul{margin:0; padding:0;}
.products-category .btn-group ul li{list-style:none; padding:0 90px; text-align:center; display:inline-block; border-right:1px solid #fff;}
.products-category .btn-group ul li:last-child{border:none;}
.products-category .btn-group ul a{color:#fff; font-size:14px; padding:10px 0; display:block;}
.products-category .common-item:hover .btn-group{bottom:0;  visibility:visible; transition:all 1s ease;}
.text{background:#fff; }
.text h3{margin:0; border-width:1px; color:#3762a2; border-style:solid; font-size:20px; border-color:#ddd #ddd #fff #ddd; padding:10px 0;}
.freedom-list ul{margin:0; padding:0;}
.freedom-list ul li{list-style:none; line-height:35px; font-size:18px; margin:20px 0 0 0;}
.freedom-list ul li i{padding-right:10px; font-size:22px; color:#228dcb;}
.buy-now{text-align:center; margin:30px 0 0 0;}
.buy-now a{color:#fff; background:#228dcb; padding:8px 20px; border:2px solid #228dcb; transition:all 1s ease;}
.buy-now a:hover, .buy-now a:focus{color:#228dcb; background:#fff; transition:all 1s ease;}
/*----------------------------------------------------Products Category----------------------------------------------------*/
/*----------------------------------------------------Logo Slider----------------------------------------------------*/
.logo-slider{width:100%; float:left; padding:100px 0; background:#fafafa;}
.logo-slider h3{text-align:center; margin-bottom:30px; position:relative; margin-top:0;}
.logo-slider h3::before{position:absolute; content:""; top:35px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.logo-slider h3{text-align:center;}
.logo-slider .item{background:#228dcb; color:#fff; height:200px; text-align:center; line-height:100px;}
.logo-slider .item h4{line-height:200px;}
/*----------------------------------------------------Logo Slider----------------------------------------------------*/
/*----------------------------------------------------Testimonial----------------------------------------------------*/
.testimonial{width:100%; float:left; background-color: #fff; transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; padding: 50px 0px 50px 0px;}
.testimonial h3{text-align:center; margin-bottom:30px; position:relative;}
.testimonial h3::before{position:absolute; content:""; top:35px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.testimonial .test-info{background:#fff; padding:25px 15px; margin:25px 0; border-radius:3px; box-shadow: 0px 2px 15px 0px rgba(122,122,122,0.39);}
.testimonial .test-info p{color:#99a7aa; margin-bottom:30px; line-height:25px; text-align:justify;}
.testimonial .test-img{padding-right:15px; display:table-cell;}
.testimonial .testimonial-details{display:table-cell; vertical-align:middle;}
.testimonial .testimonial-details .test-name p{margin-bottom:5px; margin-top:-5px; color:#333;}
.testimonial .testimonial-details .test-name span{color:#999; font-style:oblique; letter-spacing:0.5px; font-size:11px;}
/*----------------------------------------------------Testimonial----------------------------------------------------*/

/*----------------------------------------------------Footer----------------------------------------------------*/
.footer{width:100%; float:left; background:url(../images/footer-bg.jpg) no-repeat center center;  height:384px; background-size:cover;}
.footer-overlay{width:100%; float:left; background:rgba(0, 0, 0, 0.8); height:384px; padding:3em 0;}
.footer h3{color:#FFF; font-size:18px; font-weight:bold;}
.footer p{color:#FFF; line-height:25px;}
.account ul{margin:0; padding:0;}
.account ul li{line-height:30px; list-style:circle; margin-left:0;}
.account ul li a{color:#FFF;  transition:all 1s ease;}
.account ul li a:hover{color:#228dcb; padding-left:8px; transition:all 1s ease;}
.footer-bottom{width:100%; float:left; padding:20px 0;}
.footer-bottom p{text-align:center; color:#FFF;}
.footer-bottom a{color:#FFF;}
.footer-bottom a:hover{color:#228dcb;}
.social{margin-top:10px;}
.social ul{margin:0; padding:0;}
.social li{display:inline-block; line-height:30px; list-style:circle; margin-left:20px;}
.social li:first-child{margin-left:0;}
.social li i{width:32px; height:32px; line-height:32px; background:#141414; border:1px solid #FFF; text-align:center;}
.social li a{color:#fff;}
.social li:last-child{background:#fff;}
.social .fa-facebook:hover{background:#3c5899;}
.social .fa-google-plus:hover{background:#dc4a38;}
.social .fa-twitter:hover{background:#00aced;}
.social .fa-linkedin:hover{background:#0077b5;}
.store ul{margin:0; padding:0;}
.store li{color:#fff; line-height:30px; font-weight:bold;}
.store li span{display:inline-block; font-weight:normal;}
.footer-bottom{background:#141414; border-top:1px solid #3a3a3a; width:100%; float:left; padding:20px 0;}
.footer-bottom p{text-align:center; color:#FFF;}
.footer-bottom a{color:#FFF;}
.footer-bottom a:hover{color:#228dcb;}
/*----------------------------------------------------Footer----------------------------------------------------*/
/*----------------------------------------------------Home About Banner----------------------------------------------------*/
.home-about-banner{width:100%; float:left; background:url(../images/about-us.jpg) no-repeat center center; height:250px; background-size:cover;}
.home-about-banner-overlay{width:100%; float:left; background:rgba(0, 0, 0, 0.5); height:250px; padding:60px 0;}
.home-about-banner-overlay h3{text-align:center; color:#fff; font-weight:bold; font-size:30px; position:relative; margin-bottom:30px;}
.home-about-banner-overlay h3::before{position:absolute; content:""; top:45px; border-radius:50%; left:47.5%; width:5%; background:#228dcb; height:3px; }


/*----------------------------------------------------Home About Banner----------------------------------------------------*/
/*----------------------------------------------------FAQ----------------------------------------------------*/
.faq{width:100%; float:left; padding:50px 0; background:#fcfcfc;}
.faq h3{text-align:center; margin-bottom:30px; position:relative;}
.faq h3::before{position:absolute; content:""; top:45px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
#only-one button{width:100%; text-align:left; padding:15px; margin-bottom:10px; border-radius:2px; line-height:25px; font-weight:bold; letter-spacing:0.5px; font-size:16px; background:#228dcb; color:#fff; border:1px solid transparent;}
#only-one article{background:#fff; margin-bottom:10px; border-bottom:1px solid #228dcb;  border-left:1px solid #228dcb; border-right:1px solid #228dcb;}
#only-one article p{color:#333; text-align:justify; padding:0 10px; margin:0 auto; line-height:28px;}
.blue-color{color:#228dcb; font-style:italic;}
#only-one article ul{margin:0; padding:0;}
#only-one article ul li{list-style:lower-alpha; margin-bottom:10px; line-height:25px; margin-left:25px;}
/*----------------------------------------------------FAQ----------------------------------------------------*/
/*----------------------------------------------------Contact Us----------------------------------------------------*/
.contact-us{width:100%; float:left; padding:50px 0;}
.contact-us h3{text-align:center; margin-bottom:30px; position:relative;}
.contact-us h3::before{position:absolute; content:""; top:45px; border-radius:50%; left:47%; width:5%; background:#228dcb; height:3px; }
.contact p b{color:#228dcb;}
.contact p{line-height:30px; }
.contact-form label {margin-left: 20px;}
.contact-input {width: 100%; padding: 7px 15px; border: 1px solid #d4d4d4; margin: 10px 0; transition: all .5s ease;}
.contact-submit {width: auto;padding: 8px 25px; border: 1px solid #228dcb; background: #228dcb; color: #FFF; margin: 20px 0;}
.map{margin-top:20px;}
.map iframe{width:100%; height:320px;}
/*----------------------------------------------------Contact Us----------------------------------------------------*/
/*----------------------------------------------------Login & Registration----------------------------------------------------*/
.account-login {background:#f1f1f1; border:1px solid #d4d4d4; padding:45px; min-height:400px; margin-bottom:30px;}
.account-login p{ font-size:12px;}
.account-login a{background:#FFF; border:1px solid #d2d2d2;  padding:7px 15px; margin-top:20px; display:inline-block; font-weight:lighter;}
.account-login i{padding-right:5px;}
.account-login a:hover{background:#228dcb; color:#FFF; border:1px solid #228dcb;} 
.account-login a:focus{background:#228dcb; color:#FFF; border:1px solid #228dcb;}
.account-sign{background:#f1f1f1; border:1px solid #d4d4d4; padding:45px; min-height:400px; margin-bottom:30px;}
.account-sign p{font-weight:lighter; }
.account-sign label{ font-weight:lighter; font-size:12px;}
.account-sign input{width:100%; padding:5px 15px; border:1px solid #d4d4d4;}
.account-sign-submit{background:#FFF; border:1px solid #d4d4d4; padding:8px 23px;}
.account-sign-submit{position: relative; width:auto !important; background:#228dcb; color:#fff; border:1px solid #228dcb !important;}
.account-sign-submit::before {font-family: 'FontAwesome'; content: "="; font-size: 13px; position: absolute; right: 20px; top: 1px; pointer-events: none;}
.account-register {background:#f1f1f1; border:1px solid #d4d4d4; padding:45px; min-height:345px; margin-bottom:30px;}
.account-register h3{font-size:18px; margin-top:10px;}
.account-register label{font-weight:lighter; font-size:13px;}
.register-input{width:100%; border:1px solid #d4d4d4; padding:8px 15px;}
.register-submit{width:auto; padding:7px 20px;  background:#FFF; border:1px solid #d4d4d4;}
.register-submit:hover{background:#228dcb; color:#FFF; border-color:#228dcb;}
.register-input1{margin-right:10px !important;}
/*----------------------------------------------------Login & Registration----------------------------------------------------*/
/*----------------------------------------------------Registration Process----------------------------------------------------*/
.reg-process h4{color:#228dcb; line-height:25px; font-size:16px; text-align:justify;}
.reg-process p{text-align:justify; line-height:25px; margin-bottom:10px;}
.reg-content{width:auto; height:350px; overflow-y:scroll; border:2px solid #228dcb; padding:0 20px;}
.reg-content h2{ margin:20px auto; font-size:25px; color:#e03912;}
.reg-content p{font-size:15px; line-height:28px;  margin:0 auto; text-align:justify; margin-bottom:10px;}
.reg-content ul{list-style:circle; line-height:28px; margin:10px 130px; font-size:15px;}
.accept-btns ul{margin:0; padding:0;}
.accept-btns ul li{list-style:none; display:inline-block;}
.accept-btns ul li:last-child{text-align:right; float:right;}
.accept-btns ul li a{display:block; background:#228dcb; color:#fff; border:1px solid #228dcb; padding:10px 25px; text-align:center; margin:10px 0; border-radius:30px; transition:all 1s ease;} 
.accept-btns ul li a:hover{border-radius:0px; background:#fff; color:#228dcb; transition:all 1s ease;}
.otp-input{width:100%; border:1px solid #ddd; padding:12px 15px; margin:5px 0;}
.otp-form{text-align:center;}
.otp-submit{background:#228dcb; color:#fff; border:1px solid #228dcb; padding:10px 25px; text-align:center; margin:10px 0; border-radius:30px; transition:all 1s ease;}
.otp-submit:hover{border-radius:0px; background:#fff; color:#228dcb; transition:all 1s ease;}
.form-group span{font-size:12px; display:block;}
.enter p{margin-bottom:10px;}
.go-back ul{margin:0; padding:0; text-align:center;}
.go-back ul li{list-style:none; display:inline-block; padding:10px 30px;}
.go-back ul li a{color:#228dcb; padding:10px 25px; text-align:center; margin:10px 0;  transition:all 1s ease;} 
.go-back ul li a:hover{text-decoration:underline;}
.other-fields{border:2px solid #228dcb; padding:10px;margin-bottom:10px;}
.address p{margin-bottom:10px;}
.declare{border:2px solid #228dcb; padding:10px;margin-bottom:10px; background:#fff;}
.declare h4{line-height:25px; font-size:16px; }
.declare ul{margin:0; padding:0;}
.declare ul li{list-style:lower-roman ; line-height:25px; margin:0 0 10px 15px;}
.last-otp {text-align:center;}
.last-otp input{width:auto;  background:#228dcb; color:#fff; border:1px solid #228dcb; padding:10px 25px; text-align:center; margin:10px 0; border-radius:30px; transition:all 1s ease;}
.last-otp input:hover{border-radius:0px; background:#fff; color:#228dcb; transition:all 1s ease;}
/*----------------------------------------------------Registration Process----------------------------------------------------*/
/*----------------------------------------------------Account Link----------------------------------------------------*/
.dashboard{width:100%; float:left;}
.account-link{background:#228dcb !important; padding:10px; height:330px; margin:10px 0;}
.account-link h3{color:#fff; margin:10px 0 5px 0; text-align:center;} 
.account-link ul{margin:20px 0 0 0; padding:0;}
.account-link ul li{list-style:none; margin-left:2px; margin-bottom:15px; display:block;  line-height:25px; border-bottom:1px solid rgba(255, 255, 255, 0.5);}
.account-link ul li:last-child{border-bottom:0px;}
.account-link ul li a{color:#fff; padding:10px 0; transition:all 0.5s ease;}
.account-link ul li a:hover{padding-left:5px; transition:all 0.5s ease;}
.my-account{border:1px solid #ddd; padding:10px; margin: 10px 0;}
.my-account h3{margin:0 0 15px 0; font-weight:normal; text-align:center;}
.my-account h4{margin:0 0 20px 0; font-weight:100;}
.my-account label{font-weight:lighter; vertical-align:middle; padding-top:8px;}
.my-account .account-input{width:100%; border:1px solid #ddd; padding:8px 15px; background:#fff;}
.my-account .account-submit{background:#228dcb; color:#fff; border:1px solid #228dcb; width:auto; padding:8px 20px; text-align:center; border-radius:30px; transition:all 1s ease;}
.my-account .account-submit:hover{background:#fff; color:#228dcb; transition:all 1s ease; border-radius:0px;}
.address-bar p{padding:5px 10px;}
.form-btn{text-align:right;}
.form-btn ul{margin:0; padding:0;}
.form-btn ul li{list-style:none; display:inline-block; margin:0 10px;}
.form-btn ul li a{background:#fff; color:#228dcb; border:1px solid #228dcb; padding: 5px 15px; text-align:center; transition:all 0.5s ease;}
.form-btn ul li a:hover{background:#228dcb; color:#fff; transition:all 0.5s ease;}
.submit-btn{margin:20px 0; display:block;}
.submit-btn ul{margin:0; padding:0;}
.submit-btn ul li{list-style:none; display:inline-block;}
.submit-btn ul li:last-child{float:right;}
.submit-btn ul li a{background:#228dcb; color:#fff; border:1px solid #228dcb; width:auto; padding:8px 20px; text-align:center; border-radius:30px; transition:all 1s ease;}
.submit-btn ul li a:hover{background:#fff; color:#228dcb; transition:all 1s ease; border-radius:0px;}
.order-history{margin:10px 0;}
.order-history thead tr{border-collapse:collapse; border-width:1px !important; border-color:#ddd !important; border-style:solid !important;}
.order-history tbody tr{border-collapse:collapse; border-width:1px !important; border-color:#ddd !important; border-style:solid !important;}
.order-history table tr th, tr td{text-align:center; padding:10px !important}
.order-history a{background:#228dcb; color:#fff; border:1px solid #228dcb; padding:5px 10px; text-align:center; line-height:20px; transition:all 0.5s ease;}
.order-history a:hover, .order-history a:focus{background:#fff; color:#228dcb; transition:all 0.5s ease;}
.con-btn {text-align:right;}
.con-btn a{background:#fff; color:#228dcb; border:1px solid #228dcb; text-align:center; padding:8px 10px; border-radius:0px; transition:all 0.5s ease;}
.con-btn a:hover, .con-btn a:focus{background:#228dcb; color:#fff; border-radius:30px; transition:all 0.5s ease;}

.order-history-details{margin:10px 0;}
.order-history-details thead tr{border-collapse:collapse; border-width:1px !important; border-color:#ddd !important; border-style:solid !important;}
.order-history-details tbody tr{border-collapse:collapse; border-width:1px !important; border-color:#ddd !important; border-style:solid !important;}
.order-history-details tr td{padding:10px !important; text-align:left;}
.order-history-details ul{margin:0; padding:0;}
.order-history-details ul li{list-style:none; display:inline-block;}
.order-history-details a{background:#228dcb; color:#fff; border:1px solid #228dcb; padding:5px 10px; text-align:center; line-height:20px; transition:all 0.5s ease;}
.order-history-details a:hover, .order-history a:focus{background:#fff; color:#228dcb; transition:all 0.5s ease;}


/*----------------------------------------------------Account Link----------------------------------------------------*/
.blue{color:#23aef4;}
.how-it-works{width:100%; float:left; background:#fff; padding:50px 0; border-bottom:1px solid #ddd;}
.how-it-works h3{text-align:center; margin:0 0 30px 0; font-size:28px; font-weight:bold;}
.login-account h4{ font-weight:bold; color:#365569; font-size:18px;}
.login-account{text-align:center;}
.login-account img{max-width:50%;}

.why-choose{width:100%; float:left; background:#fff; padding:50px 0;}
.why-choose h3{text-align:center; margin:0 0 30px 0; font-size:28px; font-weight:bold;}
.choose-eseal h4{ font-weight:bold; color:#365569; font-size:18px;}
.choose-eseal{text-align:center;}
.choose-eseal img{max-width:50%;}

/*
@media(max-width:767px){ 
.top-bar .container-fluid{padding:0 20px; text-align:center;}
.mail-link ul li{padding:0; line-height:30px;}
.mail-right{text-align:center;}
.fixed{position:static;}
.logo h3{text-align:center; font-size:22px;}
.logo p::before{left:10px;}
.logo p::after{right:10px;}
.banner, .banner-overlay{height:250px;}
.about p{width:100%; text-align:center;}
.read-more{text-align:center;}
.products-category .btn-group ul li{padding:0 10px;}
.welcome p{margin:20px 0; font-size: 15px; padding: 20px 10px;}
.logo-slider{padding:30px 0;}
.logo-slider h3{margin-top:0px;}
.footer {text-align: center;}
}
*/



form label { text-transform: uppercase !important; }